/*
  ========================================
  General
  ========================================
*/

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*
  ========================================
  Fonts
  ========================================
*/

body {
  color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  opacity: 0.7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a:hover {
  opacity: 1;
}

header h1, header h2 {
  opacity: 0.9;
  margin: 10px auto;
  padding: 0;
}

header h1 {

}

header h2 {
  font-size: 2rem;
  opacity: 0.7;
}

/*
  ========================================
  Navigation
  ========================================
*/

.navbar {
  margin-bottom: 0;
  border: 0;
}

.active a, .navbar {
  background-color: #0289CD !important;
}

.active a {
  border-bottom: 2px solid #fff;
}

/*
  ========================================
  Header
  ========================================
*/

header {
  background-color: #08A1DB;
}

.headerTextWrap {
  margin-top: 50px;
}

header img {
  max-height: 140px;
  margin: 20px 20px 20px auto;
}
